body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(150, 249, 249), rgb(255, 62, 220));
}

.calculator {
    background-color: black;
    border-radius: 18px;
    overflow: hidden;
    max-width: 460px;
}

.display {
    background-color: rgb(46, 45, 45);
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 18px;
    padding-left: 25px;
    }

.button {
    background-color: rgb(46, 45, 45);
    color: rgb(233, 233, 233);
    padding: 8px;
    border-radius: 12px;
    font-size: 3em;
    font-weight: bold;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: none;
    text-align: center;
}

button:hover {
    background-color: rgb(104, 103, 103)
}

button:active {
    background-color: rgb(18, 193, 5);
} 

#enter {
    width: 200px;
    /* padding: 20px; */
    grid-column: span 2;
    background-color: rgb(23, 148, 83);
}

#ac {
    background-color: rgb(154, 32, 32);
}

.operators {
    background-color: rgb(77, 77, 172);
}
